<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.pskurimaslab1.mappers.TeamMapper">
    <insert id="insertTeam" parameterType="org.example.pskurimaslab1.model.Team" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO team (name, sport)
        VALUES (#{name}, #{sport})
    </insert>

    <update id="updateTeam" parameterType="org.example.pskurimaslab1.model.Team">
        UPDATE team
        SET name = #{name},
            sport = #{sport}
        WHERE id = #{id}
    </update>

    <delete id="deleteTeam" parameterType="Long">
        DELETE FROM team
        WHERE id = #{id}
    </delete>

    <insert id="addTeamToTournament">
        INSERT INTO team_tournament (team_id, tournament_id)
        VALUES (#{teamId}, #{tournamentId})
    </insert>

    <delete id="removeTeamFromTournament">
        DELETE FROM team_tournament
        WHERE team_id = #{teamId} AND tournament_id = #{tournamentId}
    </delete>

    <delete id="removeTeamTournamentRelationship">
        DELETE FROM team_tournament
        WHERE team_id = ${teamId}
    </delete>

    <delete id="removePlayersByTeamId" parameterType="Long">
        DELETE FROM player
        WHERE team_id = #{teamId}
    </delete>
</mapper>