<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.pskurimaslab1.mappers.TournamentMapper">
    <insert id="insertTournament" parameterType="org.example.pskurimaslab1.model.Tournament" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tournament (name, sport, start_date, end_date, winner)
        VALUES (#{name}, #{sport}, #{startDate}, #{endDate}, #{winner})
    </insert>

    <update id="updateTournament" parameterType="org.example.pskurimaslab1.model.Tournament">
        UPDATE tournament
        SET name = #{name},
            sport = #{sport},
            start_date = #{startDate},
            end_date = #{endDate},
            winner = #{winner}
        WHERE id = #{id}
    </update>

    <delete id="deleteTournament" parameterType="Long">
        DELETE FROM tournament
        WHERE id = #{id}
    </delete>

    <delete id="removeTournamentTeamRelation" parameterType="Long">
        DELETE FROM team_tournament
        WHERE tournament_id = #{tournamentId}
    </delete>
</mapper>