<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Tournament</title>
</head>
<body>
<h1>Add a New Tournament</h1>
<form action="#" th:action="@{/ui/tournaments/add}" th:object="${tournament}" method="post">
    <label>Name: <input type="text" th:field="*{name}" required /></label><br>
    <label>Sport: <input type="text" th:field="*{sport}" required /></label><br>
    <label>Start Date: <input type="date" th:field="*{startDate}" required /></label><br>
    <label>End Date: <input type="date" th:field="*{endDate}" required /></label><br>
    <button type="submit">Add Tournament</button>
</form>
<a th:href="@{/ui/tournaments}">Tournaments</a>
<a th:href="@{/ui/teams}">Teams</a>
<a th:href="@{/ui/players}">Players</a>
</body>
</html>
