<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Player</title>
</head>
<body>
<h1>Edit Player</h1>
<form th:action="@{/ui/players/update/{id}(id=${player.id})}" th:object="${player}" method="post">
    <div>
        <label for="name">First Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <div>
        <label for="surname">Last Name:</label>
        <input type="text" id="surname" th:field="*{surname}" required>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" required>
    </div>
    <div>
        <label for="team">Team:</label>
        <select id="team" th:field="*{team.id}">
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Update Player</button>
    </div>
</form>
<a th:href="@{/ui/players}">Players</a>
<a th:href="@{/ui/teams}">Teams</a>
<a th:href="@{/ui/tournaments}">Tournaments</a>
</body>
</html>
