<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament Details</title>
</head>
<body>
<h1 th:text="${tournament.name}">Tournament Name</h1>
<h3>Tournament details:</h3>
<ul>
    <li><strong>Sport:</strong> <span th:text="${tournament.sport}">Sport</span></li>
    <li><strong>Start Date:</strong> <span th:text="${tournament.startDate}">Start Date</span></li>
    <li><strong>End Date:</strong> <span th:text="${tournament.endDate}">End Date</span></li>
    <li><strong>Winner:</strong> <span th:text="${tournament.winner} ?: 'TBD'">Winner</span></li>
</ul>
<h3>Teams in this tournament:</h3>
<ul>
    <li th:each="team : ${teams}" th:text="${team.name}">Team Name</li>
</ul>
<a th:href="@{/ui/tournaments}">Tournaments</a>
<a th:href="@{/ui/teams}">Teams</a>
<a th:href="@{/ui/players}">Players</a>
</body>
</html>
